
$steplist: (
    1 : (0% : 0deg, 50% : 30deg, 100%: 360deg),
    2 : (0% : 0deg, 50% : 60deg, 100%: 360deg),
    3 : (0% : 0deg, 50% : 90deg, 100%: 360deg),
    4 : (0% : 0deg, 50% : 90deg, 100%: 360deg),
    5 : (0% : 0deg, 50% : 120deg, 100%: 360deg),
    6 : (0% : 0deg, 50% : 150deg, 100%: 360deg),
    7 : (0% : 0deg, 49% : 180deg, 51%: 180deg, 100%: 360deg)
);


@mixin rotation($id, $steps) {
    @-webkit-keyframes rotation-#{$id} {
    @each $percent, $degree in $steps {
            #{$percent} { -webkit-transform:rotate(#{$degree});}
        } // end each
    } // end keyframe
    @-moz-keyframes rotation-#{$id} {
    @each $percent, $degree in $steps {
            #{$percent} { -moz-transform:rotate(#{$degree});}
        } // end each
    } // end keyframe
    @-o-keyframes rotation-#{$id} {
    @each $percent, $degree in $steps {
            #{$percent} { -o-transform:rotate(#{$degree});}
        } // end each
    } // end keyframe
    @keyframes rotation-#{$id} {
    @each $percent, $degree in $steps {
            #{$percent} { transform:rotate(#{$degree});}
        } // end each
    } // end keyframe
}

@each $id, $steps in $steplist {
    @include rotation($id, map-get($steplist, $id));
}
