$speed : 2s;

@mixin style-tilde($spanID : 0, $color : #000) {
	.malna span:nth-child( #{$spanID} ) {
	  color: $color;
	  z-index: $spanID !important;
	  -webkit-animation:rotation-#{$spanID} ease-in-out $speed infinite;
	  -moz-animation:rotation-#{$spanID} ease-in-out $speed infinite;
	  -o-animation:rotation-#{$spanID} ease-in-out $speed infinite;
	  animation:rotation-#{$spanID} ease-in-out $speed infinite;
	  
	}
}

// ========================================================================== //

	.banana {
	  margin: 0 auto;
	}
	
	.malna {
	  width: 300px;
	  height: 30px;
	
	  position: absolute;
	  top: 50%;
	  left: 50%;
	
	  margin: -200px 0 0 -170px;
	
	  text-align: center;
	}
	
	.malna span {
	  font:20em Arial,  sans-serif;
	  display:block;
	
	  position:absolute;
	  top:50%; left:25%;
	}
	
	@include style-tilde(1, #127A97); // blue
	@include style-tilde(2, #11644D); // dark teal
	@include style-tilde(3, #A0B046); // green
	@include style-tilde(4, #F2C94E); // yellow
	@include style-tilde(5, #F78145); // salmon
	@include style-tilde(6, #F24E4E); // red
	@include style-tilde(7, #000);	  // black
	
	@import 'keyframes';
